<header class="hero">
<!---------image here-------->
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9 mt-4">
                <h1 class="mt-3 home-title"> Your new reading place</h1>
                    <p class="mt-5 ml-5 home-caption"> Find new books every day, exchange and share books you have already read, 
                        and connect with people who share your passion.</p>
            </div>
            <div class="col-md-3 mt-5">
                <%= link_to 'Log in', new_user_session_path, class: 'btn btn-danger btn-sm', id: 'btn-login', style: 'margin-top: 20px; float: left; margin-left: 40px;' %>
                <%= link_to 'Join now!', new_user_registration_path, class: 'btn btn-secondary btn-sm', id: 'btn-signup', style: 'margin-top: 20px; float: right;' %>
            </div>
            
        </div>
    </div>
</section>