// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-custom-1 {
    background: linear-gradient(to right, #4cb130, #092200); 
}

.bg-custom-2 {
    background: linear-gradient(to right, #1488cc, #2b32b2); 
}

.bg-custom-3 {
    background: linear-gradient(to right, #cb2d3e, #ef473a);
}

.bg-custom-4 {
    background: linear-gradient(to right, #fceabb, #f8b500);
}

.bg-custom-5 {
    background: #ffb18d
}


.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 28px;
    text-decoration: none;
    font-size: 14px;
    background: linear-gradient(to right, #e52d27, #b31217); 
    color: #fff;
    border: 6px solid linear-gradient(to right, #e43a15, #e65245);
    border-left-width: 3px;
}

.pagination a:visited {
    color: rgb(245, 185, 185); 
}

.pagination a:hover {
    color:#ff4828; 
}

.page-item.active .page-link {
    border-color: #b31217;
    color:#181614;
    border-radius: 20%;
}

.show-more {
    color: #b31217;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 250px;
}

.alert, .notice {
    font-family: 'Readex Pro', sans-serif;
}

.book-label {
    font-family: 'Syne', sans-serif;
}

.btn-custom-1 {
    background: linear-gradient(to right, #ec5954, #8a1d20); 
    color: #fff;
    border: 6px solid linear-gradient(to right, #e43a15, #e65245);
    border-left-width: 3px;
}

.btn-custom-2 {
    background: linear-gradient(to right, #ffc400, #f78c4e); 
    color: #fff;
    border: 6px solid linear-gradient(to right,#f78c4e, #ffc400);
    border-left-width: 3px;
}

.btn-custom-3 {
    background: linear-gradient(to right, #1e130c, #9a8478);
    color: #fff;
    border: 6px solid linear-gradient(to right, #9a8478, #1e130c);
    border-left-width: 3px;

}

.bookshelf {
    margin-top: 35px;
    margin-bottom: 50px;
}