// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
    background-image: url("1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10rem;
    margin-top: -9px;
    background-position: center;
    width: 100vw;
    height: 50vh;
  }

  .exchange-book {
    color: rgb(177, 7, 7);
    text-decoration: none;
  }

