// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
    background-image: url("1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10rem;
    margin-top: -9px;
    background-position: center;
    width: 100vw;
    height: 50vh;
  }

.home-title {
    font-size: 3rem;
    font-weight: bold;
    color: #000;
    text-shadow: 0 0 5px rgb(117, 117, 117);
    font-family: 'Syne', sans-serif;
    margin-top: -10px;
    margin-bottom: -10px;
}

.home-caption {
    font-size: 1.150rem;
    color: #000;
    font-family: 'Epilogue', sans-serif;
    margin-top: -10px;
    margin-bottom: -10px;
}

.exchange-book {
    color: rgb(177, 7, 7);
    text-decoration: none;
  }

h1 {
  font-family: 'ABeeZee', sans-serif;
  font-weight: bold;
}

h2 {
  font-family: 'Readex Pro', sans-serif;
  font-weight: bold;
}

h3 {
  font-family: 'ABeeZee', sans-serif;
}

h5 {
  font-family: 'Syne', sans-serif;
  font-weight: bold;
}

.btn {
  font-family: 'Syne', sans-serif;
}

.card-text strong {
  font-family: 'Epilogue', sans-serif;
}

.card-text {
  font-family: 'Readex Pro', sans-serif;
}

.session-link {
  font-family: 'Readex Pro', sans-serif;
  text-decoration: none;
}

.session-link:hover {
  color: #000;
  font-weight: bold;
}

.session-title {
  font-family: 'Epilogue', sans-serif;
  font-weight: bold;
}

.session-label {
  font-family: 'ABeeZee', sans-serif;
}

.book-pile {
  margin-right: 20px;
  margin-left: 20px;
}

li {
  font-family: 'Syne', sans-serif;
}

footer {
  font-family: 'Readex Pro', sans-serif;
  font-size: 0.9375rem;
  color: #000;
  text-align: left;
  margin-top: 20px;
  margin-bottom: -10px;
}

@media screen and (max-width: 768px) {

  #btn-signup {
    margin-right: 30px;
  }
  .home-title {
    font-size: 2.5rem;
    margin-left: 15px;
  }

  .home-caption {
    font-size: 1.125rem;
    margin-left: 15px;
    margin-right: 12px;
  }

  .books-sign {
    margin-top: 10px;
  }

}

@media screen and (max-width: 1024px) {
  #btn-signup {
    margin-right: 39px;
  } 
}
