.navbar {
    background: linear-gradient(to right, #d31027, #ea384d);

} 

.navbar-brand {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
    margin-left: 10px;
}

.offcanvas-header, .offcanvas-body {
    background: linear-gradient(to right, #d31027, #ea384d);
}

.navbar-link {
    color: #000;
    text-decoration: none;
}

.navbar-link:hover {
    color: #fff;
    text-decoration: none;
}